@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

html{
    width: 100%;
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background: url('https://www.transparenttextures.com/patterns/stardust.png'), #121212;
}

.title{
    width: 100%;
    height: 5rem;
    display: inline;
    align-items: center;
    justify-content: center;;
    text-align: center;
    border-radius: 10px;
}

#first{
    padding:5px;
    text-align: center;
    font-size: 4rem;
    font-size: 36px;
    font-weight: bold;
    color: rgb(143, 17, 17);
    background: url('https://www.transparenttextures.com/patterns/stardust.png'), #121212;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 10px;
}

#second{
    font-size: 4rem;
    padding:3px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    background: url('https://www.transparenttextures.com/patterns/stardust.png'), #121212;
    color: #cdc6c6;
    text-transform: uppercase;
    letter-spacing: 1.5px;

}

.main{
    width: 100%;
    height: 60rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5%;
    background: url('https://www.transparenttextures.com/patterns/stardust.png'), #121212;
    background-size: contain;
}

.box{
    width: 20%;
    height: 25rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    background-size: cover;
    gap:0;
    transition: 0.5s ease-in-out;
}

.photo1,.photo2,.photo3,.photo4,.photo5,.photo6,.photo7,.photo8,.photo9,.photo10,.photo11,.photo12{
    width: 80%;
    box-shadow: 0 0 1rem rgba(0,0,0,0.9);
    height: 60%;
    border-radius: 2rem;
    margin-top: 10%;
    background:linear-gradient(135deg, #000000, #2D0B00);
}

.photo13,.photo14,.photo15,.photo16,.photo17,.photo18,.photo19,.photo20,.photo21,.photo22,.photo23,.photo24{
    width: 80%;
    box-shadow: 0 0 1rem rgba(0,0,0,0.9);
    height: 60%;
    border-radius: 2rem;
    margin-top: 10%;
    background:linear-gradient(135deg, #000000, #2D0B00);
}

.info span {
    color: rgb(168, 12, 12);
}

.photo1{
    background: url("dwija.jpg");
    background-size: cover;
}

.photo2{
    background: url("amogh.jpg");
    background-size: cover;
}

.photo3{
    background: url("videep.jpg");
    background-size: cover;
}

.photo4{
    background: url("ansh.jpg");
    background-size: cover;
}

.photo8{
    background: url("gurnoor.jpg");
    background-size: cover;
}

.photo6{
    background: url("hari\ .jpg");
    background-size: cover;
}

.photo7{
    background: url("parthiv.jpg");
    background-size: cover;
}

.photo5{
    background: url("sagar.jpg");
    background-size: cover;
}

.photo9{
    background: url("manvi\ mehta.png");
    background-size: cover;
}

.photo10{
    background: url("shreshtha.jpg");
    background-size: cover;
}

.photo11{
    background: url("khushi\ bansal.jpg");
    background-size: cover;
}

.photo12{
    background: url("Khushi\ kucheria.jpg");
    background-size: cover;
}

.photo13{
    background: url("Dhruti.jpg");
    background-size: cover;
}

.photo14{
    background: url("priyanshu.jpg");
    background-size: cover;
}

.photo15{
    background: url("disha.jpg");
    background-size: cover;
}

.photo16{
    background: url("manvi2.jpg");
    background-size: cover;
}

.photo17{
    background: url("viral.jpg");
    background-size: cover;
}

.photo18{
    background: url("sujal.jpg");
    background-size: cover;
}


.name{
    width: 100%;
    height: 8%;
    font-size: 1.5rem;
    font-weight: 800;
    color: rgb(224, 174, 108);
    text-align: center;
}

.info{
    text-align: center;
    width: 100%;
    height: 10%;
    font-size: 1.2rem;
    font-weight: 800;
    color:rgb(222, 213, 201);
}

.box:hover{
    width: 22%;
    height: 26rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.9);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    gap:0;
}

@media (max-width:1150px){

    .box{
        width: 30%;
        height: 40%;
    }

    .main{
        width: 100%;
        height: 60rem;
    }

}

@media (max-width:750px){

    .box{
        width: 40%;
        height: 45%;
    }
    
}

@media (max-width:600px){

    .box{
        width: 40%;
        height: 35%;
    }
    
}

@media (max-width:500px){

    .box{
        width: 40%;
        height: 30%;
    }
    
    .name{
        width: 100%;
        height: 8%;
        font-size: 1.2rem;
    }
    
    .info{
        width: 100%;
        height: 10%;
        font-size: 1rem;
    }
}

@media (max-width:430px){

    .box{
        width: 60%;
        height: 40%;
    }

    .name{
        width: 100%;
        height: 8%;
        font-size: 1.6rem;
    }
    
    .info{
        width: 100%;
        height: 10%;
        font-size: 1.3rem;
    }
}