/*Styling*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    max-width: 100%;
}

*{
    font-family: "Montserrat", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body {
    margin: 0;
    color: #fff;
    background: url('https://www.transparenttextures.com/patterns/stardust.png'), #121212;
    background-size: center;
}
  
/*Header*/

.navbar {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
}
  
.navbar .logo {
    width: 550px;
    font-size: 1.4rem;
    font-weight: 900;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    margin-left: 20px;
    gap: 100px;
}

#Notes {
    transition: color 0.5s ease-in-out;
}

#Mentor {
    transition: color 0.5s ease-in-out;
}

#Notes:hover {
    color:rgb(102, 13, 13);
}

#Mentor:hover {
    color:rgb(102, 13, 13);
}

#btn {
    padding: 0.8rem;
    font-weight: 1000;
    color: #000;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.9);
    background-color: rgb(165, 48, 48);
    transition: background-color 0.6s ease-in-out;
}

#btn:hover {
    background-color: rgb(176, 176, 176);
}
  
.navbar nav a {
    color: #fff;
    gap: 5rem;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
}

/*Hero Section*/

.hero-content{
    height: 320px;
}
  
.hero {
    text-align: center;
    padding: 100px 20px;
    color: #fff;
}
  
.hero-content h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.5rem;
    font-weight: 600;
}
  
.hero-content h2 {
    font-size: 3rem;
    font-weight: 900;
    margin: 10px 0;
}
  
.hero-content .highlight {
    color: rgb(165, 48, 48);
}

.hero-content a{
    border-radius: 5px;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    transition: background-color 0.6s ease-in-out;
}

.hero-content a:hover{
    background-color: rgb(176, 176, 176);
}

.cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    box-shadow: 0 0 1rem rgba(0,0,0,0.9);
    background-color: rgb(165, 48, 48);
    color: #000;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 1000;
}

/*Why Choose Us Section*/
  
.why-choose {
    text-align: center;
    padding: 30px 20px;
    background: transparent
}

.para {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
  
.join-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(165, 48, 48);
    box-shadow: 0 0 1rem rgba(0,0,0,0.9);
    color: #000;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
}

.why-choose {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 50px 20px;
    background: transparent;
    color: #fff;
}
  
.why-choose h2 {
    font-size: 2.4em;
    margin-bottom: 20px;
    font-weight: 900;
}
  
.why-choose p {
    width: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 2rem;
    width:80%;
    font-size: 1.4em;
    line-height: 1.6;
    margin-bottom: 20px;
}
  
.why-choose .join-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(165, 48, 48);
    color: #000;
    box-shadow: 0 0 1rem rgba(0,0,0,0.9);
    font-size: 1.5rem;
    font-weight: 1000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.6s ease-in-out;
}
  
.why-choose .join-button:hover {
    background-color: rgb(176, 176, 176);
}

/*Services Section*/
  
.services {
    text-align: center;
    padding: 50px 20px;
    background: transparent;
    color: #fff;
}
  
.services h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: rgb(165, 48, 48);
    font-weight: 1000;
}
  
.services h2 {
    font-size: 2.2em;
    margin-bottom: 40px;
    font-weight: 900;
}
  
.services-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 20px;
}
  
.service-item {
    text-align: center;
}
  
.service-item img {
    max-width: 70px;
    max-height: 50px;
    margin-bottom: 5px;
}
  
.service-item h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: rgb(165, 48, 48);
    font-weight: 900;
}
  
.service-item p {
    font-size: 1em;
    line-height: 1.5;
}

/*Mentorship Section*/

h1 {
    font-size: 4rem;
    font-weight: 1000;
    text-align: center;
    width: 100%;
}

.plans {
    margin-top: 5%;
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box {
    width: 80%;
    height: 60%;
    max-width: 1200px; 
    margin-top: 8rem;
    margin-bottom: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap:5rem;
}

.plan {
    width: 30%;
    height: auto;
    background: linear-gradient(to bottom right, #e79393, #d59e9e); 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    overflow: hidden; 
    position: relative; 
    flex: 1 0 35%; 
    font-weight: 500;
}

#offer1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#offer1 h2{
    width: 100%;
}

#offer1 .price1{
    width: 100%;
}

#offer1 ul li{
    gap: 30px;
    font-size: 1.5rem;
}

.plan:hover {
    transform: translateY(-5px);
    cursor: pointer;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.plan h2 {
    margin-bottom: 10px;
    color: #000000;
}

.plan p {
    color: #282828;
    margin-bottom: 20px;
}

.plan ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.plan li {
    margin-bottom: 10px;
    color: #282828;
}

.line {
    width: 100%;
    height: 1.5px;
    background-color: #121212;
    border-radius: 0.2px;
}

.price1 {
    font-size: 1.2em;
    font-weight: bold;
    color: #232323;
}

.price2 {
    font-size: 1.2em;
    font-weight: bold;
    color: #232323;
}

.price3 {
    font-size: 1.2em;
    font-weight: bold;
    color: #232323;
}

.price4 {
    font-size: 1.2em;
    font-weight: bold;
    color: #232323;
}

.price1 span {
    color: #5b5b5b;
    text-decoration: line-through;
    margin-left: 10px;
    font-size: 0.9em;
    position: relative; 
}

.price2 span {
    color: #5b5b5b;
    text-decoration: line-through;
    margin-left: 10px;
    font-size: 0.9em;
    position: relative; 
}

.price3 span {
    color: #5b5b5b;
    text-decoration: line-through;
    margin-left: 10px;
    font-size: 0.9em;
    position: relative; 
}

.price4 span {
    color: #5b5b5b;
    text-decoration: line-through;
    margin-left: 10px;
    font-size: 0.9em;
    position: relative; 
}

.price1 span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -5px; 
    right: 5px; 
    height: 1px;
    background-color: #888;
    transform: rotate(-10deg); 
}

.price2 span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -5px; 
    right: 5px; 
    height: 1px;
    background-color: #888;
    transform: rotate(-10deg); 
}

.price3 span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -5px; 
    right: 5px; 
    height: 1px;
    background-color: #888;
    transform: rotate(-10deg); 
}

.price4 span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -5px; 
    right: 5px; 
    height: 1px;
    background-color: #888;
    transform: rotate(-10deg); 
}


#sold1,#sold2,#sold3,#sold4 {
    font-weight: 1000;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: black;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.9);
    color: #d2d2d2;
    height: 40px;
    width: 150px;
    font-size: 1rem;
    padding: 0.6rem;
    border-radius: 0.5rem;
    transition: font-size 0.6s ease-in-out;
    transition: width 0.4s ease-in-out;
    transition: height 0.4s ease-in-out;
    border: none;
}

#sold1:hover{
    cursor: pointer;
    font-size: 1.1rem;
    width: 160px;
    height: 50px;
}

#sold2:hover{
    cursor: pointer;
    font-size: 1.1rem;
    width: 160px;
    height: 50px;
}

#sold3:hover{
    cursor: pointer;
    font-size: 1.1rem;
    width: 160px;
    height: 50px;
}

#sold4:hover{
    cursor: pointer;
    font-size: 1.1rem;
    width: 160px;
    height: 50px;
}


#refund {
    font-size: 2.1rem;
    padding: 0px 30px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 5%;
}

/*Banner Section*/

.cta-banner {
    position: relative;
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(rgb(94, 28, 28), rgb(113, 34, 34), rgb(127, 38, 38));
    color: #000;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0,0,0,0.9);
}
  
.cta-banner .cta-content p {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}
  
.cta-banner .cta-content h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}
  
.cta-banner .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #000;
    transition: background-color 0.3s ease, color 0.3s ease;
}
  
.cta-banner .cta-button:hover {
    background-color: #000;
    color: #fff;
}
  
.cta-decor {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 10px solid #000;
    border-radius: 50%;
}
  
.cta-decor.left-circle {
    top: -50px;
    left: -50px;
}
  
.cta-decor.right-circle {
    top: -50px;
    right: -50px;
}


/*Footer*/

.links {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    background-color: #000000;
    color: #DDDDDD;
    font-size: 0.9rem;
    gap: 2rem; 
    margin-top: 20px;
}

footer{
    text-align: center;
}

.footpanel{
    width: 20%;
    height: 20rem;
    text-align: center;
}

.links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.links li {
    margin-bottom: 1rem; 
}

.links a {
    display: block; 
    text-decoration: none;
    color: #bbbbbb;
    padding: 5px 10px;
    border-radius: 5px;
    transition: color 0.3s ease;
}

.links a:hover {
    color: #ffffff;
    font-weight: 500;
}

footer #copyright {
    font-size: 0.8rem;
    color: #aaa;
    margin-top: 1rem;
}

#dark {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
}

@media (min-width: 730px) and (max-width: 1000px){

    .navbar {
        height: 60px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px 40px;
    }
      
    .navbar .logo {
        width: 500px;
        font-size: 1.4em;
        font-weight: 900;
        text-align: center;
        margin-right: 40px;
    }
    
    nav {
        width: 1000px;
        gap: 30px;
    }
    
    #btn {
        padding: 0.6rem;
        color: #000;
        border-radius: 1rem;
        background-color: rgb(165, 48, 48);
        transition: background-color 0.4s ease;
    }
      
    .navbar nav a {
        color: #fff;
        gap: 5rem;
        font-size: 1rem;
        text-decoration: none;
        margin: 10px;
        font-weight: bold;
        text-align: center;
    }
}

/* Small phones (e.g., older Androids, budget models) */
@media (max-width: 360px) {
    body {
        font-size: 14px;
    }

    img {
        max-width: 100%;
        height: auto;
    } 
}

/* Medium phones (most Android devices, iPhones) */
@media (max-width: 414px) {
    body {
        font-size: 16px;
    }

    img {
        max-width: 100%;
        height: auto;
    }
    
}

/* Large phones and small tablets */
@media (max-width: 600px) {
    body {
        font-size: 18px;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}

/* Tablets */
@media (max-width: 768px) {
    body {
        font-size: 20px;
    }

    img {
        max-width: 100%;
        height: auto;
    }    
}

/* For small laptops (1366px and below) */
@media (max-width: 1366px) {
    body {
        font-size: 18px;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}

/* For standard laptops (1440px and below) */
@media (max-width: 1440px) {
    body {
        font-size: 20px;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}

/* For full HD screens (1920px and below) */
@media (max-width: 1920px) {
    body {
        font-size: 22px;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 610px) {
    body {
        font-size: 14px;
    }

    h1, h2, h3 {
        font-size: 18px;
        text-align: center; 
    }

    .container {
        width: 95%;
        padding: 10px;
    }

    .services {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .service-box {
        width: 100%; 
        margin-bottom: 15px; 
    }

    .cta-button {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    .nav-menu {
        flex-direction: column;
        text-align: center;
    }

    .login-button {
        width: 100%; 
    }
}


@media (max-width:550px) {
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 600px;
        margin-left: 10px;
        gap: 40px;
        text-align: center;
    }

    nav a {
        margin-left: 100px;
        font-weight: 1000;
    }

    #Notes {
        width: 0;
        height: 0;
        display: none;
    }

    #Mentor {
        width: 0;
        height: 0;
        display: none;
    }

    .hero {
        text-align: center;
        padding: 50px 40px;
        color: #fff;
    }
      
    .hero-content h1 {
        font-size: 2rem;
        font-weight: 900;
        margin-bottom: 10px;
    }
    
    .hero-content p {
        font-size: 1rem;
        font-weight: 600;
    }
      
    .hero-content h2 {
        font-size: 2rem;
        font-weight: 900;
        margin: 10px 0;
    }
      
    .hero-content .highlight {
        color: rgb(165, 48, 48);
    }
    
    .hero-content a{
        border-radius: 5px;
        margin-top: 2rem;
        font-size: 1rem;
        font-weight: 1000;
        width: 60%;
        transition: background-color 0.4s ease;
    }

    .cta-button {
        display: inline-block;
        margin-top: 5px;
        padding: 10px 20px;
        box-shadow: 0 0 1rem rgba(0,0,0,0.9);
        background-color: rgb(165, 48, 48);
        color: #000;
        text-decoration: none;
        border-radius: 5px;
        font-weight: 1000;
    }

    .why-choose {
        margin-top: 40px;
        width: 100%;
        height: 470px;
        display: flex;
        align-content: center;
        justify-content: space-evenly;
        text-align: center;
        padding: 50px 10px;
        background: transparent;
        color: #fff;
    }
    
    .para {
        width: 100%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
      
    .join-button {
        display: inline-block;
        padding: 20px 20px;
        background-color: rgb(165, 48, 48);
        color: #000;
        font-weight: 1000;
        text-decoration: none;
        border-radius: 5px;
    }
      
    .why-choose h2 {
        font-size: 2em;
        margin-bottom: 20px;
    }
      
    .why-choose p {
        width: 100%;
        margin-left: 2rem;
        margin-right: 2rem;
        padding: 2rem;
        width:80%;
        font-size: 1.4em;
        line-height: 1.6;
        margin-bottom: 20px;
    }
      
    .why-choose .join-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: rgb(165, 48, 48);
        color: #000;
        box-shadow: 0 0 1rem rgba(0,0,0,0.9);
        font-size: 1.5rem;
        font-weight: 1000;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.4s ease;
    }

    .hero .hero-content {
        height: 60%;
    }

}

@media (max-width: 730px) {

    .navbar {
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 40px;
    }
      
    .navbar .logo {
        width: 500px;
        font-size: 1rem;
        font-weight: 900;
        text-align: center;
        margin-right: 40px;
    }
    
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 600px;
        margin-left: 10px;
        gap: 40px;
    }

    #btn {
        padding: 0.8rem;
        color: #000;
        border-radius: 1rem;
        background-color: rgb(165, 48, 48);
        transition: background-color 0.4s ease;
    }

    .navbar nav a {
        color: #fff;
        gap: 5rem;
        font-size: 0.7rem;
        text-decoration: none;
        font-weight: bold;
        text-align: center;
    }
      
    .navbar nav a {
        color: #fff;
        gap: 5rem;
        font-size: 1.2rem;
        text-decoration: none;
        font-weight: bold;
        text-align: center;
    }

    h1 {
        font-size: 2rem;
        font-weight: 1000;
        text-align: center;
        width: 100%;
    }
    
    .plans {
        margin-top:5%;
        width: 100%;
        height: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background: url('https://www.transparenttextures.com/patterns/stardust.png'), #121212;
    }

    #offer1 ul li{
        gap: 30px;
        font-size: 1rem;
    }
    
    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px;
    }
    
    .plan {
        border: 1px solid #ddd;
        border-radius: 10px;
        background: linear-gradient(to bottom right, #e79393, #d59e9e);
        color: rgb(0, 0, 0);
        width: 100%;
        max-width: 400px;
        padding: 20px;
        text-align: center;
        font-weight: 600;
    }
}

@media (max-width: 500px) {

    .navbar {
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 40px;
    }
      
    .navbar .logo {
        width: 400px;
        font-size: 1rem;
        font-weight: 900;
        text-align: center;
        margin-right: 40px;
    }

    .navbar nav a {
        color: #fff;
        gap: 1rem;
        font-size: 0.3rem;
        text-decoration: none;
        font-weight: 400;
    }
    
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 400px;
        margin-left: 10px;
        gap: 20px;
        text-align: center;
    }

    #btn {
        font-size: 1rem;
        padding: 10px 10px;
        color: #000;
        border-radius: 1rem;
        background-color: rgb(165, 48, 48);
        transition: background-color 0.4s ease;
    }
    
    #btn:hover {
        background-color: #d2d2d2;
        color: rgb(165, 48, 48);
    }
      
    .navbar nav a {
        color: #fff;
        gap: 5rem;
        font-size: 1.2rem;
        text-decoration: none;
        font-weight: bold;
    }

}

@media (max-width:400px) {

    .why-choose {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        text-align: center;
        padding: 50px 20px;
        background: transparent;
        color: #fff;
    }
      
    .why-choose h2 {
        font-size: 2.4em;
        margin-bottom: 100px;
    }
      
    .why-choose p {
        margin-left: 2rem;
        margin-right: 2rem;
        padding: 2rem;
        width:80%;
        font-size: 1.4em;
        line-height: 1.6;
        margin-bottom: 60px;
    }
}

@media (max-width: 490px) {

    .links {
        padding: 20px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; 
        background-color: #000000;
        color: #DDDDDD;
        font-size: 0.5rem;
        gap: 1.3rem; 
        margin-top: 20px;
    }
    
    footer{
        text-align: center;
    }
    
    .footpanel{
        width: 20%;
        height: 20rem;
        text-align: center;
    }
    
    .links ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    
    .links li {
        margin-bottom: 1rem; 
    }
    
    .links a {
        display: block; 
        text-decoration: none;
        color: #DDDDDD;
        padding: 5px 10px;
        border-radius: 5px;
        transition: color 0.3s ease;
    }
    
    .links a:hover {
        color: #FFFFFF;
    }
    
    footer #copyright {
        font-size: 0.8rem;
        color: #aaa;
        margin-top: 1rem;
    }
    
    #dark {
        font-size: 0.6rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 1rem;
    }
}

@media (max-width: 770px){

    .cta-decor.left-circle {
        top: -80px;
        left: -80px;
    }
      
    .cta-decor.right-circle {
        top: -80px;
        right: -80px;
    }

    .box{
        margin-top:30px;
    }
}

@media (max-width: 525px){

    .cta-decor.left-circle {
        top: -110px;
        left: -110px;
    }
      
    .cta-decor.right-circle {
        top: -110px;
        right: -110px;
    }
}

@media (max-width: 800px){

    .navbar .logo {
        width: 550px;
        font-size: 1rem;
        font-weight: 900;
        text-align: center;
        margin-right: 40px;
    }
}

@media (max-width: 450px){

    .hero-content a{
        border-radius: 5px;
        margin-top: 2rem;
        font-size: 1rem;
        width: 70%;
        transition: background-color 0.4s ease;
    }
}

@media (max-width: 400px){

    .hero-content a{
        border-radius: 5px;
        margin-top: 2rem;
        font-size: 1rem;
        width: 80%;
        transition: background-color 0.4s ease;
    }
}

@media (max-width: 450px){

    .why-choose {
        margin-top: 40px;
        width: 100%;
        height: 470px;
        display: flex;
        align-content: center;
        justify-content: space-evenly;
        text-align: center;
        padding: 50px 10px;
        background: transparent;
        color: #fff;
    }
    
    .para {
        width: 100%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
      
    .why-choose .join-button {
        padding: 10px 12px;
        font-size: 1.2rem;
        font-weight: 700;
    }
      
    .why-choose h2 {
        font-size: 1.9em;
        margin-bottom: 20px;
    }
      
    .why-choose p {
        width: 100%;
        margin-left: 2rem;
        margin-right: 2rem;
        padding: 2rem;
        width:80%;
        font-size: 1.2em;
        line-height: 1.6;
        margin-bottom: 20px;
    }

    .box{
        margin-top:30px;
    }
}

@media (max-width: 430px){

    .why-choose p {
        font-size:1.1em;
    }

    .box{
        margin-top:30px;
    }
}

@media (max-width: 550px){

    #refund {
        font-size: 1.2rem;
        padding: 0px 50px;
        font-weight: 800;
        text-align: center;
        margin-bottom: 5%;
    }

    .box{
        width: 80%;
    }

    .join-button {
        font-weight: 1000;
    }

    .cta-button {
        font-weight: 1000;
    }

    #btn {
        font-weight: 1000;
    }
}

@media (max-width: 500px){

    .services {
        text-align: center;
        padding: 50px 40px;
        background: transparent;
        color: #fff;
    }
      
    .services h3 {
        font-size: 1.2em;
        margin-bottom: 10px;
        text-transform: uppercase;
        color: rgb(165, 48, 48);
    }
      
    .services h2 {
        font-size: 1.8em;
        margin-bottom: 25px;
    }
      
    .services-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        padding: 0 20px;
    }
      
    .service-item {
        text-align: center;
    }
      
    .service-item img {
        max-width: 70px;
        max-height: 50px;
        margin-bottom: 5px;
    }
      
    .service-item h4 {
        font-size: 0.8em;
        margin-bottom: 10px;
        color: rgb(165, 48, 48);
    }
      
    .service-item p {
        font-size: 0.6em;
        line-height: 1.5;
    }
}

@media (max-width: 400px){

    .services {
        text-align: center;
        padding: 50px 40px;
        background: transparent;
        color: #fff;
    }
      
    .services h3 {
        font-size: 1em;
        margin-bottom: 10px;
        text-transform: uppercase;
        color: rgb(165, 48, 48);
    }
      
    .services h2 {
        font-size: 1.6em;
        margin-bottom: 40px;
    }
      
    .services-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        padding: 0 20px;
    }
      
    .service-item {
        text-align: center;
    }
      
    .service-item img {
        max-width: 70px;
        max-height: 50px;
        margin-bottom: 5px;
    }
      
    .service-item h4 {
        font-size: 0.6em;
        margin-bottom: 10px;
        color: rgb(165, 48, 48);
    }
      
    .service-item p {
        font-size: 0.5em;
        line-height: 1.5;
    }
}

@media (max-width: 500px){
    .why-choose .join-button {
        padding: 10px 15px;
        font-size: 1.3rem;
        font-weight: 700;
    }
}

@media (max-width: 620px){

    .cta-button {
        width: 40%;
    }
}

@media (max-width: 427px){

    .cta-button {
        width: 40%;
        font-size: 0.7rem;
    }
}
