@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

html{
    width: 100%;
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background: url('https://www.transparenttextures.com/patterns/stardust.png'), #121212;
}

.title{
    width: 100%;
    height: 5rem;
    display: inline;
    align-items: center;
    justify-content: center;;
    text-align: center;
    border-radius: 10px;
}

#first{
    padding:5px;
    text-align: center;
    font-size: 4rem;
    font-size: 36px;
    font-weight: bold;
    color: rgb(143, 17, 17);
    background: url('https://www.transparenttextures.com/patterns/stardust.png'), #121212;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 10px;
}

#second{
    font-size: 4rem;
    padding:3px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    background: url('https://www.transparenttextures.com/patterns/stardust.png'), #121212;
    color: #cdc6c6;
    text-transform: uppercase;
    letter-spacing: 1.5px;

}

.main{
    width: 100%;
    height: 60rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5%;
    background: url('https://www.transparenttextures.com/patterns/stardust.png'), #121212;
    background-size: contain;
}

.box{
    width: 20%;
    height: 25rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    background-size: cover;
    gap:0;
    transition: 0.5s ease-in-out;
}

.photo1,.photo2,.photo3,.photo4,.photo5,.photo6,.photo7,.photo8{
    width: 80%;
    box-shadow: 0 0 1rem rgba(0,0,0,0.9);
    height: 60%;
    border-radius: 2rem;
    margin-top: 10%;
    background:linear-gradient(135deg, #000000, #2D0B00);
}

.photo1{
    background: url("prashant.jpg");
    background-size: cover;
}

.photo2{
    background: url("aryan.jpg");
    background-size: cover;
}

.photo3{
    background: url("me3.jpg");
    background-size: cover;
}

.photo4{
    background: url("WhatsApp\ Image\ 2025-02-20\ at\ 14.15.42_3d45a4dd.jpg");
    background-size: cover;
}

.photo5{
    background: url("manthan.jpg");
    background-size: cover;
}

.photo6{
    background: url("nupur.jpg");
    background-size: cover;
}

.photo7{
    background: url("tushar.jpg");
    background-size: cover;
}

.photo8{
    background: url("aakash.jpg");
    background-size: cover;
}

.name{
    width: 100%;
    height: 8%;
    font-size: 1.5rem;
    font-weight: 800;
    color: rgb(224, 174, 108);
    text-align: center;
}

.info{
    text-align: center;
    width: 100%;
    height: 10%;
    font-size: 1.4rem;
    font-weight: 800;
    color:rgb(222, 213, 201);
}

.box:hover{
    width: 22%;
    height: 26rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.9);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    gap:0;
}

@media (max-width:1150px){

    .box{
        width: 30%;
        height: 40%;
    }

    .main{
        width: 100%;
        height: 60rem;
    }

}

@media (max-width:750px){

    .box{
        width: 40%;
        height: 45%;
    }
    
}

@media (max-width:600px){

    .box{
        width: 40%;
        height: 35%;
    }
    
}

@media (max-width:500px){

    .box{
        width: 40%;
        height: 30%;
    }
    
    .name{
        width: 100%;
        height: 8%;
        font-size: 1.2rem;
    }
    
    .info{
        width: 100%;
        height: 10%;
        font-size: 1rem;
    }
}

@media (max-width:430px){

    .box{
        width: 60%;
        height: 40%;
    }

    .name{
        width: 100%;
        height: 8%;
        font-size: 1.6rem;
    }
    
    .info{
        width: 100%;
        height: 10%;
        font-size: 1.3rem;
    }
}